<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Whatsapp</title>
    <style>
        body {
            margin-left: 20px;
        }

        .chat {
            background-color: aliceblue;
            padding: 20px;
            border-radius: 16px;
        }

        .msg {
            background-color: dodgerblue;
            color: white;
            padding: 4px 8px;
            border-radius: 16px;
            font-size: 20px;
        }

        button {
            border-radius: 16px;
            background-color: white;
            border: 1px solid rgb(212, 212, 212);
            padding: 4px 8px;
            margin-bottom: 6px;
        }

        form {
            display: inline-block;
        }
    </style>
</head>
<body>
    <h2>ALL Chats</h2>
    <form method="GET" action="/chats/new" style="margin-bottom: 8px;">
        <button>New Chat</button>
    </form>
    <br>
    <% for(let chat of chats){ %>
        <div class = "chat">
            <p>From : <%= chat.from %></p>
            <div class="msg">
                <p><%= chat.msg %></p>
                <form method="GET" action="/chats/<%= chat._id%>/edit">
                    <button>Edit</button>
                </form>
                <form method="POST" action="/chats/<%= chat._id%>?_method=DELETE">
                    <button>Delete</button>
                </form>
            </div>
            <p>Received by : <%= chat.to %></p>
            <p><%= chat.created_at.toString().split(" ")[4] %>&nbsp;&nbsp;<%= chat.created_at.toString().split(" ").slice(0,4).join("-") %></p>
        </div>
        <br>
    <% } %>
</body>
</html>